<div id="<%= dom_id financial_goal %>">
  <p>
    <strong>Title:</strong>
    <%= financial_goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= financial_goal.description %>
  </p>

  <p>
    <strong>Target value:</strong>
    <%= financial_goal.target_value %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= financial_goal.due_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= financial_goal.user_id %>
  </p>

</div>
