<div id="<%= dom_id financial_goal %>" class="financial-goal-card">
  <p>
    <strong>Título:</strong>
    <%= financial_goal.title %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= financial_goal.description %>
  </p>

  <p>
    <strong>Valor necessário:</strong>
    <%= number_to_currency(financial_goal.target_value) %>
  </p>

  <p>
    <strong>Data final:</strong>
    <%= l(financial_goal.due_date, format: :long) %>
  </p>
</div>
