<div class="financial-goals-container">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <%= render @financial_goal %>

  <div class="action-links">
    <%= link_to "Editar meta financeira", edit_financial_goal_path(@financial_goal), class: "btn btn-secondary" %>
    <%= link_to "Voltar às metas financeiras", financial_goals_path, class: "btn btn-secondary" %>
    <%= button_to "Deletar meta financeira", @financial_goal, method: :delete, 
          class: "btn btn-danger", 
          form: { data: { turbo_confirm: "Tem certeza que deseja deletar esta meta financeira?" } } %>
  </div>
</div>
